<!doctype html>

<html>

<body>
		<p>Please sign up: </p>
		<form id='signUp_form' method='post' action='/signup'>
		Name: <input name='name' type='text' autocomplete='off'/><br/>
		Password: <input name='password' type='password'/> <br/>
		Confirm Password: <input type='password' /><br/>
		<input name='submit' type='submit' value='submit'/>
		</form>
</body>


</html>